################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/PIA/.vs/PIA/FileContentIndex/fd82bfd4-a191-46d0-b09b-bd2c3c11964e.vsidx
