@model PIA.Models.dbModels.Cmetodopag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Metodos de pago</h4>
    <hr />
    <dl class="row tablasadmin">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idmetpag"><button class="btn btn-success">Editar</button></a> |
    <a asp-action="Index"><button class="btn btn-dark">Atras</button></a>
</div>
