@model IEnumerable<PIA.Models.dbModels.Libro>

@{
    ViewData["Title"] = "Catalogo";
}

<h1>Nuestro catalogo</h1>


@foreach (var item in Model) {
            
            <div class="card text-dark bg-light mb-3">
                <article class="header">
                    <h3 class="header">@Html.DisplayFor(modelItem => item.Nombre)</h3><hr>
                </article>
                <div class="card-body">
                    <main>
                        <aside>
                            <img class="imagenprod" src="@Html.DisplayFor(modelItem => item.Imagen)" align="right"><br />

                        </aside>
                        <header>
                            <h5>Precio: $@Html.DisplayFor(modelItem => item.Precio)</h5><br />
                            <h6>Autor: @Html.DisplayFor(modelItem => item.AutorNavigation.Nombre)</h6><br />
                        </header>
                        <a asp-action="Details" asp-route-id="@item.IdLibro">Details</a>
                        <hr />
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1">Cantidad</span>
                          <input type="number" class="form-control cantidad" data-id=@item.IdLibro placeholder="0" >
                    <button class="productoag" data-id=@item.IdLibro><i class="fa-solid fa-cart-shopping"></i>Agregar a Carrito</button>

                        </div>

                        <br/><br/>
                    </main>
                </div>
            </div><br/>
}

@section Scripts {
    <script src="~/js/Index.LibroCatalogo.js" asp-append-version="true"></script>
}