html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.redes {
    width: 40px;
    height: 40px;
    float: left;
}

h1 {
    text-align: left;
    color: purple;
}

.imagen1 {
    margin-top: 50px;
    margin-left: 50px;
    width: 40%;
    padding: 30px;
    background-color: #960128;
}

.imagenprod {
    height: 250px;
    width: 250px;
    padding: 15px;
    background-color: #960128;
}

.espacio {
    width: 6000%;
}

body {
    background-color: white;
}

a {
    color: black;
    text-align: center;
}

.navbar-custom {
    background-color: #7F34FE;
}

.secadm {
    background-color: #922f45;
    border: 3px solid #A33593;
    text-align: center;
    margin: 20px auto;
    width: 500px;

}

.tablacarr {
    background-color: #F6E7C1;

}

.misord {
    background-color: #c2f6f5;
}

.iniciosec {
    margin: auto;
    margin-top: 70px;
}

.clasea {
    background-color: white;
}

.tablasadmin {
    background-color: #E3F4DC;
}

.imgconfirm {
    background-color: #DD5A46;
    width: 20%;
    height: 20%;
    padding: 25px;
    border: 5px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgcentrcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textocentr {
    text-align: center;
}

.productodetalle {
    background-color: #E8D4B5;
    padding: 30px;
    border: 5px solid #E9B06F;
}

body {
    background-color: white;
}

.policy-box {
    background-color: white;
    color: #000;
    border: 2px solid #00A676;
    padding: 30px;
    margin: 40px auto;
    width: 85%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.policy-box {
    background-color: white;
    border: 2px solid #1d8055;
    padding: 30px;
    margin: 40px auto;
    max-width: 1000px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #333;
}

.titulo-principal {
    font-weight: bold;
    font-size: 25px;
    color: #1A6137;
    margin-bottom: 10px;
}

.policy-box h2 {
    font-weight: bold;
    font-size: 22px;
    color: #3E885B;
    margin-top: 15px;
}

.policy-box h3 {
    font-weight: bold;
    font-size: 20px;
    color: #1DB157;
    margin-top: 15px;
}

.policy-box ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.policy-box p {
    font-size: 16px;
    line-height: 1.6;
}

.carrito {
    font-size: 23px;
}

.banner {
    background-image: url('../images/fondoinic.png');
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

.footerini {
    background-color: #1C2321;
    padding-bottom: 25px;
    border-bottom: 2px solid #333;
}

.iniciosec {
    background-color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 80%;
    height: 200px;

}

#Contact {
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

#formsug {
    padding-left: 20px;
    padding-right: 20px;
}

#inicfon {
    padding-top: 50px;
    padding-left: 50px;
    color: #F6F2FF;
}

#h2inban {
    padding-bottom: 20px;
    font-size: 50px;
    text-align: justify;
}

#pinban {
    font-size: 23px;
    text-align: justify;
}

.maininic {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#h2inic {
    color: #3E885B;
}

.lineainic {
    color: #FFE500;
    border: 2px;
    border-style: solid;
}

#pinic {
    font-size: 18px;
}

.catin {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.libroban {
    background-size: cover;
    align-items: center;
    align-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 200px;
    padding-top: 20px;
    z-index: 2;
}

.elipse1 {
    position: absolute;
    top: 230px;
    left: 800px;
    width: 300px;
    height: 200px;
    background-color: #7DBA84;
    border-radius: 90%;
    border-bottom-right-radius: 90%;
    border-top-right-radius: 160%;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(40deg)
}

.elipse2 {
    position: absolute;
    top: 200px;
    left: 790px;
    width: 300px;
    height: 230px;
    background-color: #F4D35E;
    border-radius: 80%;
    border-bottom-right-radius: 160%;
    border-top-right-radius: 90%;
    z-index: 0;
    transform: rotate(140deg)
}

.h2on {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

.spanon {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.txtns {
    text-align: justify;
    font-size: 25px;
}

.sobrens {
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.libronos {
    width: 55%;
    height: 55%;
    padding-top: 100px;
    margin-left: 150px;
}

.inln {
    display: inline;
}

.sugs {
    font-size: 30px;
}

.inpufor {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: #7DBA84;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: auto;
    color: grey;
}

.botnenv {
    width: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.center {
    text-align: center;
    margin-left: 35%;
    margin-right: 50%;
}

.iconosf {
    font-size: 30px;
}

.filaln {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 150px;
}

.textoft {
    color: #ffffff;
}

.iconosf2 {
    font-size: 50px;
}

.navbar-brand span {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #137547;
}

.navbar-custom {
    background-color: white;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 60px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 25px;
}

.nav-link {
    color: #137547 !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #0a4e2c !important;
}

.btn-login {
    background-color: #1f1f1f;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 15px;
    text-decoration: none;
    margin-right: 30px;
}

.btn-login:hover {
    background-color: #333333;
    color: white;
}

.btn-login i {
    margin-right: 5px;
}

.navbar-nav {
    gap: 2rem;
}

/*FONTS*/
.lexend-extrabold{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.lexend-bold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-semibold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-medium{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-regular , #habilidades p{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.imagencat {
    max-width: 30%;
    align-self: center;
    margin-bottom: 20px;
    margin-top:20px;
}

.imagencat2 {
    max-height: 130px;
}
.detallimct{
    max-height: 400px;
}
.dvimgfv {
    align-self: center;
    max-width: 200px;
    margin: 0 auto;
}
.imgfv {
    max-height: 340px;
    padding-bottom: 25px;
}
.txtlos {
    margin-top: 28px;
}
.btnadmn {
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
}