.sectiont{
    font-size: 40px;
    color: #289252;
}

.border-yellow{
    border-bottom: 3px solid #F4D35E;
}

.card{
    border: 0px;
}

h5{
   font-size: 18px; 
   color: #272629;
}

.author , .topacity{
    font-size: 14px;
    color: #4950579d;
}

.price{
    font-size: 20px;
    color: #3E885B;
}

.d-price{
    font-size: 22px;
    color: #3E885B;
}

.btn-details{
    border: 1px solid #41AB6B;
}

.btn-orden{
    border: 1px solid #41AB6B;
}

.btn-details:hover , .btn-orden:hover {
    background-color: #41AB6B;
    color: #FBFDFC;
}

.carttext{
    font-size: 14px;
    background-color: #D6EDDF;
    color: #41AB6B;
}

.bgreen{
    border: 1px solid #41AB6B;
    border-radius: 5px;
}

.cart{
    background-color: #e5e7e665;
    color: #6F7471;
}

.cart:hover{
    background-color: #41AB6B;
    color: #FBFDFC;
}

.book-image{
    height: 500px;
    width: 400px;
}

.book-title{
    font-size: 30px;
    color: #289252;
}

.book-details-title{
    font-size: 20px;
    color: #C5C9CA;
}

.detail-info{
    color: #3C3C3E;
    font-size: 16px;
}

.card-text{
    color: #14110F;
}

.details{
    color: #14110F;
    font-size: 25px;
    border-bottom: 3px solid #E0E3E3;
}

.color-title{
    color: #626364;
}

.c-title{
    color: #626364;
    font-size: 20px;
}

.t-body, .t-foot{
    font-size: 14px;
}
